@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
}

:root {
  --custom-font: "MedievalSharp", sans-serif;
  --charcoal: #1a1818;
  --offwhite: #ece7e1;
  --coral: #cf8479;
  --blue: #3e52ae;
  --nude: #f1d5bf;
  --red: #ff471a;
  --pinkdust: #c69e91;
  --white: white;
  --black: black;
  --new-red: orangered;
  --pink: #f8c9e8;
  --new-pink: #ff94c1;
  --page-animation: 1s;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  width: 100%;
}

html {
  color: var(--charcoal);
  background-color: var(--charcoal);
}

.font-custom {
  font-family: var(--custom-font) !important;
}

.page-nav:hover {
  animation: page-nav .5s forwards;
}

a:hover {
  animation: anchor-animation 1s forwards 0s 3;
}


@media (min-width: 768px) {
  .text-vertical {
    writing-mode: vertical-rl;
    rotate: -180deg;
  }

  .text-copyright {
    display: inline-block;
    transform: rotate(90deg);
  }
}

@keyframes page-nav {
  from {
    padding-left: 0;
    font-style: oblique;
  }

  to {
    padding-left: .75rem;
    font-style: oblique;
  }
}


@keyframes anchor-animation {
  0% {
    text-decoration: underline;
  }

  50% {
    text-decoration: overline;
  }

  100% {
    text-decoration: line-through;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }

  to {
    background-color: var(--nude);
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(100%);
  }

  to {
    background-color: var(--nude);
    transform: translateY(0%);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    background-color: var(--nude);
    transform: scale(1);
  }
}

.zoom-in {
  animation: zoomIn var(--page-animation) ease forwards;
}

.slide-out {
  background-color: var(--charcoal);
  transform: translateY(100%);
  animation: slideOut var(--page-animation) ease forwards;
}

.slide-in {
  background-color: snow;
  transform: translateY(-100%);
  animation: slideIn var(--page-animation) ease forwards;
}

.info-page-text {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.button-width-animation:hover {
  animation: button-width .75s forwards
}

@keyframes button-width {
  from {
    width: 9rem
  }

  to {
    width: 12rem
  }
}