@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
}

:root {
  --custom-bg-color: #1a1818;
  --custom-font: "Belleza", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  width: 100%;
}

.bg-page {
  background-color: var(--custom-bg-color);
}

.font-gs {
  font-family: sans-serif;
}

.text-15xl {
  font-size: 10rem;
  line-height: 1;
}

.font-custom {
  font-family: var(--custom-font);
}

@media (min-width: 768px) {

  .text-vert {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  .copyright {
    rotate: 270deg;
  }

}